.option_contianer{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    width: 100%;
}

.option_title{
    display: flex;
    align-items: center;
    gap: 5px;
}

.option_title_click{
    display: flex;
    align-items: center;
    gap: 5px;
}

.click_plus{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 12px;
}

.click_plus_open{
    background-color: var(--primary-color);
    color: var(--select-color)
}