.container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: auto;
}

.darkOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.back_icon{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    border: none;
    padding: 4px;
    border-radius: 30px;
    color: white;
    background-color: orange;
}

.h3{
    color: rgb(68, 68, 68);
    margin-right: 15px;
}

.subjects_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subject_btn{
    width: 280px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    transition: background-color 0.3s ease, border 0.3s ease;
    background-color: white;
    border: 1px solid orange;
    color: rgb(68, 68, 68);
}

.down_buttons_div{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.add_your_subject_btn{
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 15px;
    font-size: 15px;
    height: 40px;
    width: 110px;
    background-color: white;
    border: 1px solid orange;
    color: rgb(68, 68, 68);
}

.generate_btn{
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-family: 'Fredoka', sans-serif;
    margin-bottom: 15px;
    font-size: 15px;
    height: 40px;
    width: 150px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid orange;
    color: rgb(68, 68, 68);
}

.loading_icon{
    animation: spin 1s infinite linear;
}
    
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.submit_btn{
    border: none;
    padding: 14px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(255, 151, 47);
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 30px;
    width: 280px;
    color: white;
}

.subject_btn.selected {
    background-color: rgb(245, 206, 132);
    border: 1px solid orange;
    border: none;
}

.submit_btn_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.submit_btn_loading_icon{
    animation: spin 1s infinite linear;
}

