.linkBtns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.like {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    font-size: 23px;
    border: 1px solid green;
    border-radius: 100px;
    padding: 4px;
    -webkit-tap-highlight-color: transparent;
    background-color: white;
}

.dislike{
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
    font-size: 23px;
    border: 1px solid red;
    border-radius: 100px;
    padding: 4px;
    -webkit-tap-highlight-color: transparent;
    background-color: white;
}