

.btn_div{
    margin-top: -20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity_data{
    flex-grow: 1;
    overflow: auto;
    margin-top: 30px;
}


@media (min-width: 550px) {

    .container::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: transparent;
    }

    .container::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #dfdfdf00;
    }

    /* Set the scrollbar width */
    .container::-webkit-scrollbar {
        width: 0px;
    }

    body {
        background-color: var(--desktop-background-color) !important;
    }
}