.container{
    display: flex;
    flex-direction: column;
}

.back_icon{
    position: sticky;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    border: none;
    padding: 6px;
    border-radius: 30px;
    color: white;
    background-color: orange;
}

.container h2{
    margin-top: 70px;
    font-size: 22px;
    color: orange;
}
.svg_icon{
    width: 30px;
    height: 30px;
    margin-top: 50px;
    color: orange;
}
.svg_icon_loading{
    width: 30px;
    height: 30px;
    animation: spin 1.5s infinite linear;
    margin-top: 50px;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon_more{
    animation: spin 1.5s infinite linear;
    margin-top: 50px;
    font-size: 26px;
    color: orange;
}

.h2_icon_div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.activity_div{
    padding: 25px;
}

.img{
    color: #ffa500;
    margin-top: 20px;
    border-radius: 20px;
    width: 80%;
    border: none;
    margin-bottom: 20px;
    margin-right: 20px;
}

.again_icon{
    padding: 20px;
    font-size: 22px;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}