.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Fredoka', sans-serif;
    width: 100%;
    background-color: var(--primary-color);
    overflow: hidden !important;
}

.h2{
    color: var(--secondary-color);
    color: #efd670;
    font-size: 27px;
    font-weight: bold;
    margin-top: -15px;
}

.activity_data_container{
    background-color: var(--background-color);
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    overflow: hidden !important;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity_data{
    flex-grow: 1;
    overflow: scroll;
    margin-top: 20px;
} 

@media (min-width: 550px) {
    .container {
        margin-top: 50px;
        overflow-x: hidden;
        overflow-y: auto;
        height: 630px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        width: 400px;
    }

    .activity_data::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: transparent;
    }

    .activity_data::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #dfdfdf00;
    }

    /* Set the scrollbar width */
    .activity_data::-webkit-scrollbar {
        width: 0px;
    }

    body {
        background-color: #ffe1a0 !important;
    }
}