.container{
    display: flex;
    flex-direction: column;
}

.back_icon{
    position: sticky;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    border: none;
    padding: 6px;
    border-radius: 30px;
    color: white;
    background-color: orange;
}

.container h2{
    font-size: 22px;
    color: orange;
}

.h2_icon_div {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: orange;
    font-size: 23px;
}

.activity_div{
    padding: 25px;
}

.buttons_div{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    border-radius: 60px;
    padding: 10px;
    color: #ffffff;
    border: none;
    font-size: 16px;
    background-color:orange;
}
.button label{
    margin-right: 10px;
    margin-left: 10px;
}
.icon_more{
    animation: spin 1.5s infinite linear;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
