
.shareBtn {
    cursor: pointer;
    background-color: var(--secondary-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 999;
  }
  
  .icon {
    color: var(--primary-color);
    font-size: 21px;
  }
  