.user_profile{
    cursor: pointer;
}

.user_profile_img {
    border: 1px solid var(--secondary-color);
    border-radius: 100px;
    width: 30px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mock_img_div {
    border: 1px solid var(--secondary-color);
    border-radius: 100px;
    width: 30px;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--loading-profile-color);
}

.no_user_profile_img{
    border: 1px solid var(--secondary-color);
    border-radius: 100px;
    width: 30px;
    height: 30px;
    font-size: 26px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--loading-profile-color);
    color: rgb(163, 163, 163);
}

.dropdown_divider {
  flex: 0 0 100%;
  border: none;
  border-top: 1px solid #ddd;
  margin: 4px 0;
}
