.checkbox_div {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}

.title {
    font-size: 18px;
}

.selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.checkbox_active,
.checkbox_inactive {
    position: relative;
    padding-left: 5px;
    cursor: pointer;
    line-height: 20px;
    margin-right: 30px;
    width: fit-content;
    display: block;
    white-space: nowrap;
}

.checkbox_active::before,
.checkbox_inactive::before {
    content: "";
    position: absolute;
    right: -30px;
    top: 0;
    width: 19px;
    height: 19px;
    border-radius: 7px;
    border: 1px solid var(--text-color);
    background-color: var(--select-color);
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox_inactive::before {
    background-color: white;
    border: 1px solid var(--text-color);
}

.checkbox_active::after {
    content: "";
    position: absolute;
    right: -25px;
    top: 5px;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    background-color: var(--primary-color);
}

.inputs_div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.input_alert{
    font-size: 12px;
    color: #de3d3d;
    position: absolute;
    bottom: -25px;
    right: 5px;
    text-align: right;
    margin-bottom: 10px;
}

@media (min-width: 550px) {
    .inputs_div {
        width: 100%;
    }
}