.optionList {
  list-style: none;
  padding: 0;
}

.optionItem {
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
}

.questionText {
  width: 100%;
  line-height: 1.6;
}

.optionSelected {
  background-color: #d0e8ff;
}

.optionCorrect {
  background-color: #c8f7c5;
}

.optionWrong {
  background-color: #f7c5c5;
}

.scoreStar {
  width: 280px;
  height: 200px;
  background: gold;
  clip-path: polygon(
    50% 7%,    /* Top point */
    61% 35%,   /* Upper-right */
    81% 35%,   /* Far-right */
    67% 54%,   /* Lower-right */
    76% 82%,   /* Bottom-right */
    50% 66%,   /* Bottom center */
    24% 82%,   /* Bottom-left */
    33% 54%,   /* Lower-left */
    19% 35%,   /* Far-left */
    39% 35%    /* Upper-left */
  );
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: normal;
  color: white;
  animation: fadeInScale 0.5s ease;
  cursor: pointer;
}

.scoreCloseIcon {
  position: absolute;
  top: 43px;
  right: 129px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  z-index: 1001;
  color: #ffffff9c;
}

[dir="ltr"] .scoreCloseIcon {
  right: auto;
  left: 129px;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translateX(-50%) scale(0.8);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

.scoreGreen {
  background: radial-gradient(circle at 30% 30%, rgba(40, 167, 69, 0.9), rgb(40, 167, 69));
}

.scoreYellow {
  background: radial-gradient(circle at 30% 30%, rgba(255, 193, 7, 0.8), rgb(255, 193, 7));
  color: #333;
  text-shadow: none;
}

.scoreRed {
  background: radial-gradient(circle at 30% 30%, rgba(204, 112, 112, 0.85), rgb(255, 0, 0));
}

.correctBold {
  font-weight: 600;
}

.checkBtnContainer {
  position: fixed;
  bottom: 150px;
  z-index: 1000;
}

html[dir="rtl"] .checkBtnContainer {
  left: 13%;
  transform: translateX(-50%);
}

html[dir="ltr"] .checkBtnContainer {
  left: 87%;
  transform: translateX(-50%);
}

.checkBtn {
  background-color: rgba(0, 123, 255, 0.75);
  color: white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.checkBtn:active {
  transform: scale(0.96);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.retryFabContainer {
  position: fixed;
  bottom: 150px;
  z-index: 1000;
}

html[dir="rtl"] .retryFabContainer {
  left: 13%;
  transform: translateX(-50%);
}

html[dir="ltr"] .retryFabContainer {
  left: 87%;
  transform: translateX(-50%);
}

.retryFab {
  background-color: rgba(0, 123, 255, 0.75);
  color: white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.retryFab:active {
  transform: scale(0.96);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

.shareBox {
  position: absolute;
  top: 245px;
  left: 50%;
  padding: 5px 5px;
  transform: translateX(-50%);
  width: 70%;
  background-color: #FFF8E2;
  color: rgba(0, 0, 0, 0.918);
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  z-index: 999;
}

.shareIcon {
  margin-inline-start: 8px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

@media (min-width: 550px) {

  .questionBlock {
    margin-bottom: 20px;
    margin-inline: auto;
    max-width: 360px;
    padding-inline: 16px;
    box-sizing: border-box;
    width: 100%;
  }

  .checkBtnContainer {
    position: absolute;
  }

  .retryFabContainer {
    position: absolute;
  }

  .scoreStar {
    top: 0%;
  }

  .shareBox {
    top: 184px;
  }
}