.form_container {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    position: absolute;
    bottom: 0;
    top: 100px;
    width: 100%;
}

.lamp_img {
    z-index: 2;
    position: absolute;
    top: -80px;
}

.lamp_img_rtl {
    left: 40px;
}

.lamp_img_ltr {

    right: 40px;
}

.label {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1.5;
  display: block;
  width: 100%;
}

.input_area {
    margin-top: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    -webkit-tap-highlight-color: transparent;
}

.details_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    width: 272px;
}

@media (min-width: 550px) {
    .details_content {
        margin-top: 20px;
        width: 300px;
    }
}