.navbar_icon,
.navbar_icon_selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    width: 90px;
    font-size: 14px !important;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.text {
    font-size: 12px;
    transition: font-size 0.3s ease, color 0.3s ease;
}

/* מצב רגיל */
.navbar_icon {
    color: var(--nav-color) !important;
}

/* מצב נבחר - שינויים בולטים */
.navbar_icon_selected {
    color: #789A56;
}

.navbar_icon_selected .text {
    font-size: 14px;
    font-weight: 450;
    color: #789A56;
}

/* אנימציית popIn לאייקון */
.navbar_icon_selected .icon {
    animation: popIn 0.3s ease forwards;
}

.icon {
    transition: transform 0.3s ease, color 0.3s ease;
    width: 20px;
    height: 20px;
}

.navbar_icon:hover .icon {
    transform: scale(1.1);
}

/* Keyframes לאנימציית popIn */
@keyframes popIn {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}
