.part_option {
    text-align: center;
    height: 26px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 5px 7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    font-size: 12px;
}

.part_close_btn svg {
    position: relative;
    top: 2px;
    left: 2px;
}

.part_close_btn::after {
    content: '|';
    font-size: 12px;
    position: absolute;
    opacity: 0.4;
    top: 3px;
}

.part_title {
    white-space: nowrap;
    overflow: hidden;
}