.privacy {
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.privacy::-webkit-scrollbar {
  display: none;
}

.h3_privacy {
  color: var(--primary-color);
  font-size: 18px;
  margin-top: -5px;
  text-align: inherit;
  font-weight: 550;
  margin-bottom: 0;
  width: 100%;
}

.space_div {
  font-size: 11px;
}

.space_div_end {
  font-size: 11px;
  margin-bottom: 40px;
}

.fixed_btn {
  bottom: 25px;
  display: flex;
  justify-content: center; /* Center the button always */
  width: 100%;
  padding: 0 25px;
  box-sizing: border-box;
  z-index: 1000;
}


.fixed_btn button {
  align-self: flex-start; /* New: fixes final button alignment */
}

@media (min-width: 550px) {
  .space_div {
    font-size: 11px;
  }
}
