.link_btn {
    margin-top: 16px;
    border: none;
    font-family: var(--font-family);
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    font-weight: 550;
    color: var(--text-color);
    cursor: pointer;
    font-weight: 550;
    padding: 1px;
}