.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    z-index: 996;
}

.container_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 997;
    border-radius: 23px;
    height: fit-content;
    max-height: 80vh;
    width: 85%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 3px solid var(--secondary-color);
    color: var(--text-color);
    background-color: var(--background-color);
    overflow: hidden;
}

.artical_popup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media (min-width: 550px) {
    .container_popup {
        width: fit-content;
        max-width: 430px;
        max-height: 80vh;
    }
}