.container{
    position: absolute;
    top: 20%;
    z-index: 999;
    background-color: white;
    border-radius: 20px;
    border: none;
    text-align: center;
    padding: 20px;
    position: relative;
}

.cancel_btn{
    position: absolute;
    top: 10px;
    right: 10px;
}

.input_btn_div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container input{
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 10px;
    background-color: rgb(236, 234, 234);
}