.loading_login_container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--background-color);
    min-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}