.logo_text_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 14vh;
    margin-bottom: 20vh;
}

.home_lable{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    font-size: 16px;
    font-weight: 550;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0;
}
.hand_icon{
    width: 18px;
    height: 18px;
}

.button_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 550px) {
    .logo_text_div{
        margin-top: 14vh;
        margin-bottom: 7vh;
    }

    .logo_text_div{
        margin-top: 100px;
    }
    .button_section{
        margin-bottom: 100px;
    }
    .privacy_div{
        bottom: 0px;
    }
    body {
        background-color: var(--desktop-background-color) !important;
    }
}