.tell_us_title {
    width: 190px;
    position: absolute;
    top: 20px;
    -webkit-tap-highlight-color: transparent;
}

.tell_us_title_rtl {
    right: 60px;
}

.tell_us_title_ltr {
    left: 60px;
}

.tell_us_title h1 {
    color: var(--background-color);
    font-size: 22px;
    font-weight: 600;
    position: relative;
    line-height: 32px;
    margin: 0;
    width: 190px;
    letter-spacing: 1px;
}

.tell_us_title img {
    position: absolute;
    top: 66px;
}

.tell_us_title_rtl img {
    right: -3px;
}

.tell_us_title_ltr img {
    left: 50px;
}