.more_actions_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    direction: ltr;
}

.all_icons_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.more_actions_share {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    border-radius: 60px;
    padding: 6px;
    color: orange;
    border: none;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0);
    width: 95px;
    cursor: pointer;
    border: 1px solid orange;
    height: 30px;
}

.btn_content_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.button label {
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.icon_more {
    animation: spin 1.5s infinite linear;
    font-size: 15px;
    color: orange;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}