.more_actions_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    direction: ltr;
}

.more_actions_left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
    border-radius: 60px;
    padding: 6px;
    color: var(--primary-color);
    border: none;
    font-size: 13px;
    width: 95px;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    background-color: white;
    height: 30px;
}

.btn_content_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.button label {
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

.icon_more {
    animation: spin 1.5s infinite linear;
    font-size: 15px;
    color: var(--primary-color);
}

.iconBtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 25px;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}