.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 996;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 997;
    background-color: white;
    border-radius: 20px;
    border: none;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 500px;
    width: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    text-align: right;
    border: 2px solid orange;
    overflow: scroll;
}

.space_div {
    font-size: 14px;
}

.submit_btn {
    border: none;
    padding: 7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(255, 151, 47);
    transition: background-color 0.3s ease;
    width: 150px;
    height: 42px;
    color: white;
}

@media (min-width: 550px) {
    .submit_btn {
        position: relative;
        cursor: pointer;
    }
}