.h3_privacy{
    color: var(--primary-color);
    font-size: 18px;
    margin-top: -5px;
    text-align: right;
    font-weight: 550;
    margin-bottom: 0px;
    width: 100%;
}

.space_div {
    font-size: 16px;
}

.btn_div{
    margin-top: 10px;
    width: 95%;
    direction: ltr;
}

@media (min-width: 550px) {
    .space_div {
        font-size: 16px;
    }
    .btn_div{
        width: 380px;
    }
}