.shareBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    color: var(--primary-color);
    transition: color 0.3s ease;
    text-decoration: none;
    direction: inherit;
    background-color: rgba(0, 0, 255, 0);
    border: none;
    font-family: 'Fredoka', sans-serif;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.icon {
    font-size: 18px;
    color: var(--primary-color);
}

.text {
    font-size: 12px;
    color: var(--primary-color);
}