.container {
    width: 100%;
    position: relative;
    height: calc(101% - var(--ads-height));
    overflow: hidden;
    background-color: var(--editor-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.editor {
    width: 98%;
    margin: 0 auto;
    margin-top: 5px;
    height: calc(100% - var(--ads-height) - 70px);
    border: 0.8px solid var(--secondary-border-color);
    min-height: 300px;
    text-overflow: clip;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: scroll;
}

.editorContent {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}

.editorContent:focus {
    outline: none;
}

.saveButton {
    position: relative;
    background-color: var(--primary-color);
    color: var(--input-color);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.02s ease;
}

.saveButton:active {
    background-color: var(--primary-color-hover);
    color: var(--input-color);
}

.saveButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.rtl {
    direction: rtl;
    text-align: right;
}

.ltr {
    direction: ltr;
    text-align: left;
}

.charCounter {
    text-align: right;
    padding: 8px;
    position: absolute;
    bottom: 70px;
    right: 0;
    z-index: 1;
}

.charLimitWarning {
    font-size: 12px;
    color: var(--error-color);
}