.main_btn,
.main_btn_disabled {
    border: none;
    border-radius: 19px;
    font-family: 'Fredoka', sans-serif;
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
    min-width: 10px;
    width: fit-content;
}

.main_btn {
    background-color: var(--secondary-color);
}

.main_btn_disabled {
    background-color: var(--secondary-color-disable);
}

.btn {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    direction: rtl;
    border-radius: 50%;
}

.btn_loading {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    direction: rtl;
    border-radius: 50%;
    width: 42px;
}

.btn_loading {
    padding: 5px;
    width: fit-content;
}

.btn {
    padding: 0 15px;
}

.btn label {
    color: #333335;
    cursor: pointer;
    position: relative;
    top: -1px;
}

.btn_icon {
    width: 20px;
    height: 20px;
    background-color: #708254;
    border: none;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon {
    color: var(--secondary-color);
    font-size: 15px;
}