.about_collapse_container {
    display: inline-flex;
    gap: 2px;
    color: var(--text-color);
}

.about_container {
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 11px;
    color: var(--text-color);
    cursor: pointer;
    border-bottom: 1px solid var(--text-color);
}

.about_container label {
    cursor: pointer;
}

.collapse_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 10px;
    background-color: rgb(250, 246, 238);
    border-radius: 12px;
    border: 2px solid rgb(245, 240, 240);
    padding: 2px;
    margin-bottom: 9px;
}
