.create_your_activity_title {
  width: 260px;
  position: absolute;
  top: 15px;
  right: 60px;
  -webkit-tap-highlight-color: transparent;
  direction: rtl;
  z-index: 301;
}

.create_your_activity_title h1 {
  color: var(--background-color);
  font-size: 24px;
  font-weight: 600;
  position: relative;
  line-height: 32px;
  margin: 0;
  width: 250px;
  letter-spacing: 0.9px;
}

.create_your_activity_title img {
  position: absolute;
  top: -10px;
  right: -15px;
}

.ltr {
  left: 65px;
  right: auto;
  direction: ltr;
}

.ltr img {
  left: -15px;
  right: auto;
  rotate: -65deg;
}