.privacyPolicyContainer{
    padding: 25px;
    font-size: 13px;
    line-height: 19px;
}
.space_div{
    margin-bottom: 15px;
}
.email{
    font-weight: 500;
    font-size: 14px;
}
.back_icon{
    position: absolute;
    left: 20px;
    top: 20px;
    transform: rotate(-0.50turn);
    font-size: 24px;
    border: none;
    padding: 6px;
    border-radius: 30px;
    color: white;
    background-color: orange;
    cursor: pointer;
}

.h2_privacy{
    font-weight: 500;
    color: orange;
}

@media (min-width: 550px) {
    .privacyPolicyContainer {
        display: flex;
        padding-left: 25px;
        padding-right: 25px;
        border-radius: 25px;
        flex-direction: column;
        margin-top: 50px;
        background-color: #F5F5DC;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border: 2px solid orange;
        width: 430px;
        position: relative;
    } 
    .back_icon{
        position: absolute;
    }
    body{
        background-color: #ffe1a0 !important;
    }
}