.privacyPolicyContainer{
    padding: 25px;
    font-size: 14px;
    line-height: 19px;
}

.space_div{
    margin-bottom: 15px;
}

.email{
    text-align: center;
    font-size: 14px;
}

.email a{
    margin-right: 4px;
    color: #4088a7;
}

.back_icon{
    position: absolute;
    left: 10px;
    top: 10px;
    transform: rotate(-0.50turn);
    font-size: 24px;
    border: none;
    padding: 6px;
    border-radius: 30px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.page_title{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: right;
}

@media (min-width: 550px) {
    .privacyPolicyContainer {
        margin-top: 50px;
        width: 400px;
        background-color: var(--background-color);
        height: 630px;
        border: none;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
    } 
    .back_icon{
        position: absolute;
    }
    body{
        background-color: #ffe1a0 !important;
    }
}