.grid_item {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    border: 0px solid var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 70%;
    margin-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.grid_item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.item_title {
    margin: 0;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 40px);
}

.delete_icon{
    background-color: rgba(255, 255, 255, 0);
    font-size: 16px;
    padding: 5px;
    font-weight: 600;
    color: white;
    color: var(--primary-color);
}
