.hintContainer{
    position: relative;
    margin-bottom: -5px;
}

.hintBtn{
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    color: #bdbdbd;
    -webkit-tap-highlight-color: transparent;
}

.hint{
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    display: inline-block;
    color: #090909;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    box-sizing: content-box;
    white-space: nowrap;
    top: 0;
    right: 20px;
    font-size: 12px;
    border: 1px solid #d9d9d9;
}


@media (max-width: 430px) {
    .hint{
        min-width: 130px;
        max-width: 130px;
        white-space: normal;
        text-align: right;
    }
}

@media (min-width: 550px) {
    .hint{
        min-width: 160px;
        max-width: 160px;
        white-space: normal;
        text-align: right;
    }
}