.collapse_container_absolute {
    position: "relative"; 
    font-size: 12px;
}

.collapse_container_relative {
    position: "relative"; 
    font-size: 16px;
    width: "100%"; 
}

.collapse_absolute {
    overflow: hidden;
    position: absolute;
    bottom: 15px;
    right: -140px;
    width: 320px;
}

.collapse_relative {
    overflow: hidden;
    position: relative;
    width: 100%;
    bottom: 0;
    right: 0;
}

@media (min-width: 550px) {
    .collapse_absolute {
        bottom: 20px;
    }
}