.underbar {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: #FAF6EE;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.02);
  border-top: 1px solid #E7D8BA5E;
  height: fit-content;
  position: fixed;
  bottom: 0;
  width: 95%;
  z-index: 1000;
  background-color: var(--primary-color);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.underbarButton1{
  padding: 10px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #5D5D5D;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
  margin-right: 9px;
}

.underbarButton {
  padding: 10px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #5D5D5D;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: white;
}

.underbarButton:hover .icon {
  transform: scale(1.1); 
}

.activeIcon{
  color: var(--secondary-color);
}

.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 2px;
  transition: transform 0.3s ease, color 0.3s ease;
}

@media (max-height: 625px) {
  .underbarButton {
    padding: 10px;
  }
  .icon {
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
  }
}

@media (min-width: 550px) {
  .underbar {
    position: absolute;
    bottom: 0;
    height: 65px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
  }
}
