.navbar_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--background-color);
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.02);
  border-top: 1px solid var(--border-color);
  height: fit-content;
  position: fixed;
  bottom: -1px;
  width: 100%;
  z-index: 997;
  margin: 0 auto;
  padding: 8px 0;
  height: var(--navbar-height);
}
.ltr_nav {
  direction: ltr;
}

@media (min-width: 550px) {
  .navbar_container {
    position: absolute;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}