.spinnerContainer {
  position: fixed;  
  z-index: 999;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;         
  left: 50%;      
  transform: translate(-50%, -50%); 
  width: 100vw;
  height: 100vh;
  background: #ffffff30;
  background: var(--secondary-color);
}

.h2{
  margin-top: 20px;
  font-size: 42px;
  font-weight: bold;
  color: var(--text-color);
}
.text{
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
  width: 240px;
  text-align: center;
  color: var(--text-color);
}
  
  .spinner {
    width: 146px;
    height: 146px;
    display: grid;
    border: 4px solid var(--text-color);
    border-radius: 50%;
    border-right-color: rgba(0, 0, 0, 0);
    animation: tri-spinner 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: tri-spinner 2s infinite;
  }
  
  .spinner::after {
    margin: 8px;
    animation-duration: 3s;
  }
  
  @keyframes tri-spinner {
    100% {
      transform: rotate(1turn);
    }
  }
  
  .loader {
    color: var(--primary-color);
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 35px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
  
  .words {
    overflow: hidden;
    font-family: 'Fredoka', sans-serif;
  }
  
  .word {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    display: block;
    height: 100%;
    padding-left: 6px;
    color: var(--main-color);
    animation: cycle-words 65s ease-in-out;
  }
  
  @keyframes cycle-words {
    5.5556% {
      transform: translateY(-105%);
    }
  
    11.1111% {
      transform: translateY(-100%);
    }
  
    16.6667% {
      transform: translateY(-205%);
    }
  
    22.2222% {
      transform: translateY(-200%);
    }
  
    27.7778% {
      transform: translateY(-305%);
    }
  
    33.3333% {
      transform: translateY(-300%);
    }
  
    38.8889% {
      transform: translateY(-405%);
    }
  
    44.4444% {
      transform: translateY(-400%);
    }
  
    50% {
      transform: translateY(-500%);
    }
  
    55.5556% {
      transform: translateY(-505%);
    }
  
    61.1111% {
      transform: translateY(-605%);
    }
  
    66.6667% {
      transform: translateY(-600%);
    }
  
    72.2222% {
      transform: translateY(-705%);
    }
  
    77.7778% {
      transform: translateY(-700%);
    }
  
    83.3333% {
      transform: translateY(-805%);
    }
  
    88.8889% {
      transform: translateY(-800%);
    }
  
    94.4444% {
      transform: translateY(-900%);
    }
  
    100% {
      transform: translateY(-900%);
    }
  }



@media (min-width: 550px) {
  .spinner{
    width: 146px;
    height: 146px;
    display: grid;
    border: 4px solid var(--text-color);
    border-radius: 50%;
    border-right-color: rgba(0, 0, 0, 0);
    animation: tri-spinner 1s infinite linear;
  }
  .loader {
    color: var(--secondary-color);
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 35px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 20px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }
}