.content_article {
    padding: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 35px;
}

.page_title {
    color: var(--primary-color) !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    width: 100% !important;
    text-align: right !important;
    margin-top: -10px !important;
    margin-bottom: 10px !important;
    margin-right: 30px !important;
}

.description{
    margin-right: 10px;
    font-size: 18px;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid_item {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    border: 1.5px solid var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 25px;
}
.grid_item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
.icon{
    color: var(--primary-color);
    font-size: 25px;
}
.item_title {
    margin: 0;
    font-size: 16px;
    font-weight: 550;
    letter-spacing: 1px;
    color: #333;
    color: var(--primary-color);
}

@media (min-width: 550px) {
    .content_article {
        margin-bottom: 0px;
    }
}