.pageContainer {
  position: relative;
}

.loadingOverlay {
  z-index: 999;
  background-color: var(--background-color);
  border-top-left-radius: 37px;
  border-top-right-radius: 37px;
}

.loadingContentWrapper{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadingImage {
  margin-top: 30px;
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
  width: 200px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.loadingTitle {
  margin-top: 25px;
  font-size: 38px;
  font-weight: bold;
  color: var(--text-color);
  text-align: center;
  line-height: 0.95;
}

.loadingSubtitle {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
  width: 290px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 40px;
  line-height: 26px;
}

.progress_bar {
  width: 270px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.progress_bar::before {
  content: "";
  height: 8px;
  display: block;
  background-color: var(--primary-color);
  animation: progress 12s linear infinite;  /* Loader time */
  border-radius: 16px;
  will-change: transform;
  width: 270px;
  transform: translateX(-100%);
}

@keyframes progress {
  100% {
    transform: translateX(0);
  }
}