.container {
    position: relative;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
}
