.activity_title {
    width: 100%;
    text-align: center;
    color: var(--background-color);
    font-size: 27px;
    font-weight: 600;
    position: relative;
    line-height: 32px;
    margin-top: -20px;
    -webkit-tap-highlight-color: transparent;
    letter-spacing: 1px;
}