.icon_alert{
    font-size: 410px;
}

.label{
    color: rgb(51, 51, 51);
    font-size: 15px;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 15px;
    line-height: 24px;
}

.submit_btn {
    margin-top: 30px;
    border: none;
    padding: 7px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(255, 151, 47);
    transition: background-color 0.3s ease;
    width: 150px;
    height: 42px;
    color: white;
}


