/* Container styles remain unchanged */
.container {
  position: relative;
  display: inline-block;
}

.icon {
  cursor: pointer;
  font-size: 22px;
  color: var(--text);
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.537);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Update popupContent: remove transform, add opacity and transition */
.popupContent {
  background: #fff;
  font-size: 14px;
  line-height: 26px;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  max-width: 400px;
  border: 4px solid var(--secondary-color);
  padding: 15px;
  direction: ltr;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* When shown, set opacity to 1 */
.popupContentShow {
  opacity: 1;
}

.popupTitle_div {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-top: -40px;
  gap: 10px;
  text-align: right;
  width: 100%;
  margin-right: 5px;
}

.popupTitle {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.icon_lang {
  font-size: 60px;
  rotate: -30deg;
  color: var(--primary-color);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* In LanguageSwitcherPopup.module.css */
.buttonContainer .languageButton:first-child {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
}

.languageButton {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 200px;
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--font-family);
  border: none;
}

.languageIcon {
  width: 30px;
  height: 30px;
  border-radius: 7px;
}
