.ads-small-slot {
    position: fixed;
    bottom: 55px;
    left: 0;
    display: block;
    height: var(--ads-height);
    width: 100vw;
    z-index: 997;
    background-color: var(--background-color);
    border-top: 0px solid black;
}

@media (min-width: 550px) {
    .ads-small-slot {
        position: absolute;
        width: 400px;
        height: calc(var(--ads-height) - 10px);
    }
}