.ads-small-slot {
    position: fixed;
    bottom: 55px;
    left: 0;
    display: block;
    height: var(--ads-height);
    width: 100vw;
    z-index: 9999;
    background-color: var(--background-color);
}

@media (min-width: 550px) {
    .ads-small-slot {
        position: absolute;
        width: 400px;
    }
}

@media (min-width: 768px) {
    .ads-small-slot {
        display: none !important;
    }
}