.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin: 15px 0;
}

.footer_privacy {
    border-bottom: 1px solid var(--text-color);
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 11px;
    color: var(--text-color);
}
.footer_privacy label{
    cursor: pointer;
}

.footer_contact {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 11px;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.footer_contact a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 550px) {
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}