.tell_us_title {
    width: fit-content;
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-tap-highlight-color: transparent;
}

.tell_us_title h1 {
    color: var(--background-color);
    font-size: 22px;
    font-weight: 600;
    position: relative;
    line-height: 32px;
    margin: 0;
    width: 190px;
    text-align: center;
    letter-spacing: 1px;
}

.tell_us_title img {
    position: absolute;
    top: 30px;
}

/* Specific language overrides */
.he img {
    right: 115px;
}

.en img {
    right: 128px;
}

.es img {
    right: 139px;
}

.ar img {
    right: 67px;
}
