.input_div{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    -webkit-tap-highlight-color: transparent;
}

.input_div select {
    cursor: pointer;
    -webkit-appearance: none;
    border: 1px solid var(--text-color);
    padding: 15px 20px 15px 15px;
    font-size: 13px;
    border-radius: 24px;
    width: 100%;
    min-width: 245px;
    font-family: 'Fredoka', sans-serif;
    direction: rtl;
    background-color: var(--select-color);
    color: var(--text-color);
}
.input_div select::placeholder{
    color: #5D5D5D;
    font-weight: 300;
    font-size: 13px;
}
.input_div::after {
    content: '▼';
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--text-color);
}
.input_div {
    position: relative;
}
.input_div select:focus {
    outline: none;
}
