@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --background-color: #FAF6EE;
    --primary-color: #708254;
    --secondary-color: #FFD324;
    --text-color: #333335;
    --select-color: #fcfaf5;
    --popup-background-color: #eefafa;

    --select-border-color: #646464;
    --desktop-background-color: #ffe1a0;
    --secondary-color-disable: #ffd32467;
    --email-color: #4088a7;
    --loading-profile-color: #d0d0d0;

    --font-family: 'Fredoka', sans-serif;

    --like-color: #008000;
    --dislike-color: #e40505;
}

body {
    margin: 0 !important;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    direction: rtl;
}