.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.537);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: #fff;
  font-size: 14px;
  line-height: 26px;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  max-width: 400px;
  border: 4px solid var(--secondary-color);
  padding: 20px;
  direction: ltr;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.languageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 200px;
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--font-family);
  border: none;
}

.languageButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

