.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.537);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: #fff;
  font-size: 14px;
  line-height: 26px;
  border-radius: 10px;
  max-width: 300px;
  border: 2px solid var(--secondary-color);
  padding-top: 35px;
  padding-bottom: 35px;
  width: 70%;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.languageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 45%;  /* Adjust width to fit two buttons per row */
  padding: 10px;
  font-size: 16px;
  color: var(--text-color);
  font-family: var(--font-family);
  border: 2px solid #ddd;
  border-radius: 5px;
  font-weight: 500;
}

.languageButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  font-weight: 400;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
}

/* Desktop-only adjustment */
@media (min-width: 550px) {
  .loaderContainer {
    padding: 0 20px;
    box-sizing: border-box;
  }
}
