.container{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-between;
    height: 100vh;
}

.container_disabled{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    opacity: 0.05;
    filter: alpha(opacity=10);
    pointer-events:none;
    z-index: 950;
    overflow: hidden;
    background: #f5f5dcc1;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: none;
}

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    background: #f5f5dcc1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
}
.navbar img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.back_icon{
    margin-right: 20px;
    font-size: 24px;
    border: none;
    padding: 6px;
    border-radius: 30px;
    color: white;
    background-color: orange;
}

.h3{
    color: orange;
    font-size: 30px;
    margin-top: -10px;
    width: 335px;
    margin-right: 20px;
}

.checkbox_div{
    font-size: 20px;
    margin-bottom: 30px;
    margin-right: 20px;
}

.inputs_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.input{
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
    text-align: right;
    background-color: rgb(255, 255, 255);
    border: 1px solid orange;
    outline: none;
    width: 310px;
    height: 50px;
    overflow: hidden;
}
.input_div select {
    -webkit-appearance: none;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
    text-align: right;
    background-color: rgb(255, 255, 255);
    border: 1px solid orange;
    outline: none;
    width: 335px;
    color: black;
}

.input_div::after {
    content: '▼';
    position: absolute;
    left: 13px;
    top: 63%;
    transform: translateY(-50%);
    pointer-events: none;
    color: orange;
}

.input_div {
    position: relative;
}

.input_div select:focus {
    outline: none;
}


.checkbox_input{
    font-size: 21px;
}

.input_and_icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    direction: rtl;
}
.magic_icon{
    color: orange;
    padding: 5px;
    margin-right: -40px;
    padding-right: 5px;
    border: none;
    margin-top: 45px;
    background-color: rgb(255, 255, 255);
}
.loading_icon_magic{
    color: orange;
    padding: 5px;
    margin-right: -40px;
    margin-top: 45px;
    border: none;
    background-color: white;
    animation: spin 1s infinite linear;
}

.btn_div{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit_btn{
    border: none;
    padding: 14px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 50px;
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(255, 151, 47);
    transition: background-color 0.3s ease;
    width: 320px;
    height: 62px;
    color: white;
    margin-bottom: 25px;
}

.loading_btn_txt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.loading_icon{
    color: white;
    animation: spin 1s infinite linear;
    font-size: 32px;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
