.container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: fit-content;
    height: 100vh;
    background-color: var(--primary-color);
    width: 101vw;
    position: fixed;
    top: 0;
    left: 0;
}

.back_icon {
    rotate: 180deg;
    padding: 10px;
    font-size: 24px;
    color: var(--secondary-color);
}

.path_img{
    z-index: 300;
    position: absolute;
    top: -120px;
    left: 35px;
    width: 130px;
}

.h2_div{
    width: 180px;
    position: absolute;
    top: 60px;
    right: 50px;
}
.h2_div label{
    color: #FAF6EE;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}
.h2_div img{
    position: absolute;
    top: -10px;
    right: -10px;
}

.contnet_div{
    background-color: var(--background-color);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    position: absolute;
    bottom: 0;
    width: 101vw;
    height: 75%;
}

.path_div{
    width: 85%;
    margin-top: 60px;
    overflow: scroll;
}
.path_div::-webkit-scrollbar {
    display: none;
}
.path_div {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.btn_div{
    margin-top: 20px;
    direction: ltr;
    width: 70vw;
    margin-bottom: 50px !important;
}

@media (min-width: 550px) {
    .container{
        margin-top: 50px;
        height: 630px;
        width: 400px;
        border: none;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
    }
    .contnet_div{
        width: 400px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .btn_div{
        width: 300px;
    }
}
