.article_options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--secondary-border-color);
    padding: 10px 0;
    height: 45px;
    min-height: 45px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.option{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    -webkit-tap-highlight-color: transparent;
}

.separator{
    width: 1px;
    height: 24px;
    background-color: var(--secondary-border-color);
}