.details_form_container {
    background-color: var(--background-color);
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    position: absolute;
    left: 0;
    bottom: 0;
    /* top: 140px; */
    width: 100%;
    height: 82%;
    /* max-height: 85vh; */
}

.lamp_img {
    z-index: 2;
    position: absolute;
    top: -80px;
}

.lamp_img_rtl {
    left: 40px;
}

.lamp_img_ltr {

    right: 40px;
}

.selects_btn {
    margin-top: 35px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    -webkit-tap-highlight-color: transparent;
}

.loading_mock_selection_container {
    position: relative;
    min-height: 350px;
    height: 300px;
    min-width: 70vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.btn_div {
    position: relative;
    box-sizing: border-box;
    direction: ltr;
    display: flex;
    width: 100%;
}

@media (min-width: 550px) {
    .details_form {
        width: 100%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .details_content {
        margin-top: 20px;
        width: 300px;
    }

    .btn_div {
        width: 300px;
    }
}