.lamp_img {
    z-index: 2;
    position: absolute;
    top: -100px;
    left: 20px;
}

.details_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
}

.selection_container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

.selects_btn {
    margin-top: 35px;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.loading_mock_selection_container {
    position: relative;
    min-height: 350px;
    height: 300px;
    min-width: 70vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_div {
    direction: ltr;
}

.moreExamples_div {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

@media (min-width: 550px) {
    .details_form {
        width: 100%;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .selection_container {
        margin-top: 20px;
        width: 300px;
    }

    .btn_div {
        width: 300px;
    }

    .moreExamples_div {
        bottom: 15px;
    }
}