.container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: auto;
}

.container h3{
    color: rgb(231, 150, 0);
    margin-right: 10px;
    font-size: 22px;
}

.input_div{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.input_div select {
    -webkit-appearance: none;
    border: 1px solid orange;
    padding: 13px 13px 13px 13px;
    font-size: 16px;
    border-radius: 30px;
    width: 280px;
    font-family: 'Fredoka', sans-serif;
    direction: rtl;
    background-color: white;
}
.input_div::after {
    content: '▼';
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: orange;
}
.input_div {
    position: relative;
}



.btn_div{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit_btn{
    border: none;
    padding: 14px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(255, 151, 47);
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 30px;
    width: 280px;
    height: 55px;
    color: white;
}

.loading_icon{
    color: white;
    animation: spin 1s infinite linear;
    font-size: 28px;
}
    
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
