.container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    width: fit-content;
    height: 100vh;
    background-color: #708254;
    width: 101vw;
    position: fixed;
    top: 0;
    left: 0;
}

.h2_img {
    width: 190px;
    position: absolute;
    top: 50px;
    right: 40px;
}

.lamp_img {
    z-index: 2;
    position: absolute;
    top: -100px;
    left: 20px;
}

.detailsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    position: absolute;
    bottom: 0;
    width: 101vw;
    height: 75%;
}

.selects_btn{
    margin-top: 40px;
    position: absolute;    
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn_div {
    direction: ltr;
}

.loading_icon_magic {
    color: var(--primary-color);
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media (min-width: 550px) {
    .container {
        margin-top: 50px;
        height: 630px;
        width: 400px;
        border: none;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: relative;
    }

    .detailsForm {
        width: 400px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .select_div {
        margin-top: 20px;
        width: 300px;
    }

    .btn_div {
        width: 300px;
    }
}