.input_div{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.input_div select {
    cursor: pointer;
    -webkit-appearance: none;
    border: 1px solid #646464;
    padding-right: 25px;
    font-size: 15.4px;
    border-radius: 30px;
    width: 70vw;
    height: 43px;
    font-family: 'Fredoka', sans-serif;
    direction: rtl;
    background-color: #fcfaf5;
    color: #646464;
}
.input_div::after {
    content: '▼';
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #646464;
}
.input_div {
    position: relative;
}
.input_div select:focus {
    outline: none;
}

@media (min-width: 550px) {
    .input_div{
        width: 300px;
    }
}