.activity_div {
    padding: 25px;
    padding-top: 0px;
}

.h2_icon_div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.h2_activity {
    font-size: 22px;
    color: orange;
}

@media (min-width: 550px) {
    .activity_div {
        padding: 30px;
        padding-top: 0px;
    }

}