.activity_contianer {
    padding: 25px;
    padding-top: 0px;
}

.activity_title {
    text-align: right;
    font-size: 22px;
    color: orange;
    font-weight: bold;
    margin: 10px 0;
}

@media (min-width: 550px) {
    .activity_contianer {
        padding: 30px;
        padding-top: 0px;
    }

}