.section_contianer {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    overflow-y: scroll;
    /* Allows scrolling */
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.blur_effect {
    position: sticky;
    bottom: -1px;
    width: 100%;
    height: 60px;
    margin-top: -60px;
    background: linear-gradient(to bottom, #FAF6EE70 0%, var(--background-color) 100%);
}

.blur_text {
    position: relative;
    top: 30px;
    text-align: center;
    color: #494949;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF6EE90;
    font-size: 12px;
}

.blur_no_text {
    color: transparent;
}

@media (min-width: 550px) {
    .section_contianer {
        height: 100% !important;
        /* max-height: none; */
    }
}